<!-- index.html -->
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>Document Search</h1>
    <form action="{{ url_for('search') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="query" placeholder="Enter your search query">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <hr>
    <h2>Available Documents</h2>
    <div class="site-navigation">
        <ul class="main-menu">
            <li><a href="#">Documents</a>
                <ul class="sub-menu">
                    {% for category in categories %}
                        <li><a href="#">{{ category }}</a>
                            <ul class="sub-sub-menu">
                                {% for file in files[category] %}
                                    <li><a href="{{ url_for('open_file', file_path=category + '/' + file) }}">{{ file }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
