<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Reveal.js Presentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='reveal.js/css/reveal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='reveal.js/css/theme/black.css') }}">
    <style>
        .slides section {
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    <div class="reveal">
        <div class="slides">
            {% for slide in slides %}
            <section>
                <p>{{ slide|safe }}</p>
            </section>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='reveal.js/js/reveal.js') }}"></script>
    <script>
        Reveal.initialize();
    </script>
</body>
</html>
